﻿@model Note
@{
   ViewBag.Title = Model.Title;
}

<p>
	<h1>@Model.Title</h1>
	<h4>@Model.CreationTime</h4>
	@foreach (var line in Model.Text)
	{
		@line<br />
	}
</p>

<hr />

<h3>Attachments</h3>
<p>
	<ol>
		@foreach (var file in Model.Attachments)
		{
			<li>
				<a asp-area="" asp-controller="Notes" asp-action="GetAttachment" asp-route-id="@file.Id">
					@file.FileName</a>
			</li>
		}
	</ol>
</p>

<p>
	<form method="post" asp-area="" asp-controller="Notes" asp-action="Remove" asp-route-id="@Model.Id">
		<input type="submit" value="Delete note">
	</form>
</p>