﻿@model IndexViewModel
@{
   ViewBag.Title = "Home page";
}

<h3>Notes</h3>
<p>
	<ul>
		@foreach (var note in Model.NotesList)
		{
			<li>
				<a asp-area="" asp-controller="Notes" asp-action="Get" asp-route-id="@note.Id">@note.Title</a>
			</li>
		}
	</ul>
</p>

<hr />

<p>
	<form enctype="multipart/form-data" method="post" asp-area="" asp-controller="Notes" asp-action="Add">
		<p><input type="text" name="title" value="Title"></p>
		<p><textarea name="text">Text</textarea></p>
		<p><input type="file" name="attachments" multiple></p>
		<p><input type="submit" value="Add note"></p>
	</form>
</p>